<section class="album">
    <div class="album-title">
        <h3> Albums </h3>
        <img class="home-img-spotify" src="/images/album.png" alt="Album Icon">
    </div>
    <% albums.forEach(album => {  %>
        <ul class="album-name-img-track">
            <li> <%=album.name %> </li>
            <li>
                <% if (album.images.length > 0) { %>
                    <img src="<%= album.images[0].url %>" alt="<%= album.name %>'s image">
                <% } else { %>
                    <img src="https://user-images.githubusercontent.com/25275745/82283218-ba9ec200-9963-11ea-9fc8-8408b57bef12.png">
                <% } %>
            </li>
            <li> <a href="/tracks/<%-album.id%>"> View Tracks </a> </li>
        </ul>
    <% }) %>
</section>