<section class="artist">
    <div class="artist-title">
        <h3> Artists </h3>
        <img class="home-img-spotify" src="/images/singer.png" alt="Artist Icon">
    </div>
    <div class="artists-all"> 
        <% artists.forEach(artist => {  %>
            <ul class = "artist-name-img-album">
                <li> <%=artist.name %> </li>
                <li>
                    <% if (artist.images.length > 0) { %>
                        <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>'s image">
                    <% } else { %>
                        <img src="https://user-images.githubusercontent.com/25275745/82283218-ba9ec200-9963-11ea-9fc8-8408b57bef12.png" alt="{{this.name}}">
                    <% } %>
                </li>
                <li> <a href="/albums/<%-artist.id%>"> View Albums </a> </li>
                </div>
            </ul>
        <% }) %>
    </div>
</section>
