<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="login-form">
            <h2 class="text-center mb-4">Login</h2>
            <form action="/login" method="POST">
               
            <!-- Spotify login button -->
            <a href="/auth/spotify" class="btn btn-success btn-block mt-3">
                <i class="fab fa-spotify"></i> Login with Spotify
            </a>
           
        </div>
    </div>
</div>