<section class="home">
    <div class="home-title">
        <h3>Spotify's API Website</h3>
        <img class="home-img-spotify" src="/images/spotify-icon.png" alt="Spotify Icon">
    </div>
    <main>
        <!-- Login Button -->
        <a href="/" class="btn btn-primary mb-3">home</a>
        


<!-- Playlist URL Form -->
<form id="myPlaylistForm" action="/myplaylist" method="POST" class="mb-3">
    <label>Enter Playlist URL:
        <input id="playlistUrlInput" type="text" name="playlistUrl" placeholder="Enter playlist URL..." required />
    </label>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

 <!-- Liked Playlists Section -->
<h2>Liked Playlists</h2>
<div class="row">
    <% likedPlaylists.forEach(playlist => { %>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="<%= playlist.images[0].url %>" class="card-img-top" alt="Playlist Image">
                <div class="card-body">
                    <h5 class="card-title"><%= playlist.name %></h5>
                    <a href="#" class="btn btn-primary" onclick="copyPlaylistUrl('<%= playlist.external_urls.spotify %>')">Copy URL</a>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<script>
    function copyPlaylistUrl(url) {
        document.getElementById('playlistUrlInput').value = url;
    }
</script>


        <!-- Other Search Forms -->
        <div class="mb-3">
            <form action="/artists/" method="GET">
                <label>Find Artist:
                    <input type="text" name="artistName" placeholder="Find artist..." />
                </label>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="mb-3">
            <form action="/artists/" method="GET">
                <label>Find Track:
                    <input type="text" name="trackName" placeholder="Find track..." />
                </label>
                <button type="submit">Search</button>
            </form>
        </div>
    </main>
</section>
