/* Custom CSS for homepage */
body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    color: #1db954; /* Spotify green color */
}

.home-img-spotify {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

p {
    color: #333; /* Dark text color */
}

.container form {
    display: flex;
    align-items: center;
}

.container label {
    margin-right: 10px;
}

.container input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.container button[type="submit"] {
    padding: 8px 16px;
    background-color: #1db954; /* Spotify green color */
    border: none;
    border-radius: 4px;
    color: #fff; /* White text color */
    cursor: pointer;
}

.btn-primary {
    background-color: #1db954; /* Spotify green color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-primary:hover {
    background-color: #0a874e; /* Darker green color on hover */
}

/* Styling for CTA button */
.btn-cta {
    background-color: #ff6b6b; /* Red color for CTA button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    padding: 12px 24px; /* Larger padding for CTA button */
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-cta:hover {
    background-color: #e44242; /* Darker red color on hover */
}
